{#
/**
 * @file
 * Default theme implementation for rendering corporate blocks join futurium.
 *
 * Available variables:
 *   - none
 *
 * @see template_preprocess_corporate_blocks_join_futurium()
 *
 * @ingroup themeable
 */
 #}

{% set _url = path(corporate_welcome.join.target) %}
{% set _title = corporate_welcome.join.title | default('') %}
{% set _body = corporate_welcome.join.body | default('') %}
{% set _call = corporate_welcome.join.call | default('') %}

<div class="cnect-join-futurium-widget">
    <h2>{{ _title |trans }}</h2>
    <div class="cnect-join-futurium-widget__body">
      <p class="ecl-paragraph ecl-paragraph--m ecl-u-color-grey-100">
        {{ _body | trans }}
      </p>
      <div class="input-group">
        <a href="{{ _url  }}"
           class="ecl-button ecl-button--primary">{{ _call | trans }}</a>

      <a href="{{ path('cas.login')  }}"
         class="ecl-button ecl-button--primary">{{ _call | trans }}</a>
      </div>
    </div>
</div>
